/* style-for-body*/
body {
    font-family: 'Alexandria', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    }

/* style-for-paragraphs*/
p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}

/* style-for-Header 3*/
h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
}

h2 {
    color: #2E2F42;
}


/* style-for-ul,li*/
ul,
li {
    list-style-type: none;
}

/* style-for-button*/
.button {
    background-color: #4d5ae5;
    border-radius: 4px;
    width: 169px;
    height: 56px;
    top: 428px;
    left: 636px;
    padding: 16px, 32px, 16px, 32px;
    border: none;
    color: #ffffff;
    cursor:pointer;
}

.menu-link {
    font-family: 'Raleway', sans-serif;
    font-family: 'Alexandria', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: Raleway, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.colored-text {
    color: #4d5ae5;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color:  #2e2f42 ;
    font-size: 18px;
}

.nav-link {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
    color: inherit;
    color: #2e2f42;

}

.address-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
    font-style: normal;
    text-decoration: none;
}

.p-colir-ul-li {
    color: #434455;
}
